[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/calendar.vim"]
	path = bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/despacio"]
	path = bundle/despacio
	url = https://github.com/AlessandroYorba/Despacio.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nrrwrgn"]
	path = bundle/nrrwrgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "bundle/phpfolding"]
	path = bundle/phpfolding
	url = https://github.com/gcorne/phpfolding.vim.git
[submodule "bundle/recover.vim"]
	path = bundle/recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim.git
[submodule "bundle/simpylfold"]
	path = bundle/simpylfold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntaxrange"]
	path = bundle/syntaxrange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "bundle/tlib.vim"]
	path = bundle/tlib.vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/utl.vim"]
	path = bundle/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-cool"]
	path = bundle/vim-cool
	url = https://github.com/romainl/vim-cool.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-do"]
	path = bundle/vim-do
	url = https://github.com/joonty/vim-do.git
[submodule "bundle/vim-dotoo"]
	path = bundle/vim-dotoo
	url = https://github.com/dhruvasagar/vim-dotoo.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/vim-shell-executor"]
	path = bundle/vim-shell-executor
	url = https://github.com/JarrodCTaylor/vim-shell-executor.git
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/asynccommand.vim"]
	path = bundle/asynccommand.vim
	url = https://github.com/idbrii/AsyncCommand
[submodule "bundle/asyncrun"]
	path = bundle/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/vim_unimpaired"]
	path = bundle/vim_unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/dockerfile.vim"]
	path = bundle/dockerfile.vim
	url = https://github.com/ekalinin/dockerfile.vim
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "bundle/vim-changes"]
	path = bundle/vim-changes
	url = https://github.com/chrisbra/changesPlugin
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "vim-exchange"]
	path = vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "bundle/vim-drawit"]
	path = bundle/vim-drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = ../../davidhalter/jedi-vim
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-airline-clock"]
	path = bundle/vim-airline-clock
	url = https://github.com/enricobacis/vim-airline-clock.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-terminalogy"]
	path = bundle/vim-terminalogy
	url = https://github.com/idanarye/vim-terminalogy.git
[submodule "bundle/vim-numbers"]
	path = bundle/vim-numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/colorscheme-mythos"]
	path = bundle/colorscheme-mythos
	url = https://github.com/kamwitsta/mythos.git
[submodule "bundle/vim-anyfold"]
	path = bundle/vim-anyfold
	url = https://github.com/pseewald/vim-anyfold.git
[submodule "bundle/vim-characterize"]
	path = bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "bundle/vim-rsi"]
	path = bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
